body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

a {
    color: #BB86FC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    color: #BB86FC;
}

form {
    margin-top: 20px;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

input {
    background-color: #333333;
    color: #FFFFFF;
}

button {
    background-color: #BB86FC;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background-color: #3700B3;
}
